html { font-size: 20px; line-height: 1.4; }
body { max-width: 60ex; padding: 1ex; margin: 2em auto; }

header { height: 4.5em; margin-bottom: 2em; border-bottom: 1px solid #BA261A; }
header img { height: 6em; margin-bottom: -1.5em; float: left; }
header nav { overflow: auto; }
header nav ul {
    list-style: inside none; display: flex; margin: 0;
    height: 4.5em; align-items: flex-end;
    flex-flow: row wrap; justify-content: flex-end;
}
header nav li { margin: 0 0.5ex; font-size: 120%; }
header nav li:last-child { margin-right: 0; }

h1 { color: #BA261A; font-size: 1.25; margin: 1em 0 0; }

.photo-list { list-style: inside none; padding: 0; display: flex; flex-flow: row wrap; }
.photo-list li { width: 15ex; }
.photo-list img { display: block; width: 15ex; height: 15ex; object-fit: cover; }
